@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #1f2937;
  background: linear-gradient(to bottom right, #e0e7ff, #f3e8ff, #ccfbf1); /* Gradasi Warna Cerah */
  min-height: 100vh;
}

/* Scrollbar biar rapi */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}